/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  padding-top: 70px;
  background-color: #997347;
  background-image: url('../img/soil_ground_0045_01_preview.jpg');
  background-size: cover;
}

footer {
  background-color: #827442;
  height: 60px;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  bottom: 0px;
}

#epicenter-icon {
  margin: 0;
  padding: 0;
}

.container {
  /*margin-left: 20px;*/
 /* margin-right: 20px;*/
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

/* Style for start.html */
.btn {
  background-color: #827442;
  border-color: #827442;
}

.btn:hover {
  background-color: #788E42;
  border-color: #788E42;
}

.jumbotron {
  background-color: #959947;
}

/* Styles for the start page seismometer. */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

#seismometer {
  height: 200px;
}

/* Style for pool.html */
div.add-bet-form {
  /*max-width: 250px;*/
}

ul.bets {
  list-style-type: none;
  margin: 0px;
  margin-top: 5px;
  overflow-y: scroll;
  overflow-x: none;
  height: 300px;
}

div.bet-list {
  
}

.add-bet-form .form-control {
  margin-top: 5px;
}

div.pool-sidebar {
  /* Make the height the size of the screen. */
  /*background-color: rgb(247, 247, 249);*/
  /*background-color: rgb(90, 90, 90);*/
}

#map-canvas { 
  
}

.css-form input.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
  border-color: #78FA89;
}


