<div class="container">
  <div class="jumbotron">
    <p>Tool to place bets on the epicenter location of an earthquake. The epicenter
    of an earthquake is the origin of the earthquake above ground. I saw
    a program on the movie <i>Volcano</i> and I thought it might make a good site example.</p>
    <p><a href="#/pool/{{newPoolId}}" class="btn btn-primary btn-lg new-pool-btn">Start a Betting Pool</a></p>
  </div>
  <div class="col-class-md4">
  </div>
  <div class="col-class-md8">
	  <div id="seismometer"></div>
  </div>
</div>
